.impact {
  padding: 20px;  
}

.impact-stories {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;

}

.impact-story {
  width: 50%;
  margin-bottom: 10px;
}

.impact-story img{
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.impact-story-title {
  font-size: 18px;
  font-weight: bold;
}

.impact-story-content {
  font-size: 16px;
}

.impact-statistics {
  margin-bottom: 20px;
}

.impact-statistics-title {
  font-size: 18px;
  font-weight: bold;
}

.impact-statistics-content {
  font-size: 16px;
}

.donation-cta {
  text-align: center;
}


.donations {
    background-color: #ffffff;
    padding: 30px;
  }
  
  .section-title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .section-subtitle {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 20px;
  }
  
  .donation-options {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .donation-option {
    margin-bottom: 20px;
  }
  
  .donation-option-title {
    font-size: 1.5rem;
    font-weight: 700;
  }
  
  .donation-option-description {
    font-size: 1.2rem;
    font-weight: 400;
  }
  
  .input-group {
    width: 100%;
  }
  
  .input-group-append {
    text-align: right;
  }
  
  .donation-cta {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 20px;
  }

  .donations button{
    width: 100px;
    font-size: 1.3rem;
    margin-left: 5px;
  }



  footer{
    margin-top: 0;
  }

  @media (max-width: 768px) {
    .impact-stories{
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .impact-story{
      width: 100%;
    }
  }
